* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #ffaa80;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  /* max-height: 100vh; */
}

h1 {
  letter-spacing: 5px;
  font-size: 5vw;
  font-weight: 900;
  font-style: italic;
  color: black;
  text-shadow: 1vw 1vw 2vw white, -1vw -1vw 2vw white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 2%;
  font-size: 3vw;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 7vw;
  height: 7vw;
  box-sizing: border-box;
  color: black;
  border: 1px solid black;
  border-radius: 90px;
  outline: none;
  font-size: 3vw;
  text-align: center;
  font-weight: 700;
  background-color: lightcoral;
  transition: linear 0.1s;
}
input:hover {
  border: 0px solid black;
  box-shadow: 0.02vw 0.1vh 2vw 0.3vw white;
  color: white;
}

p {
  display: inline-block;
  margin: 4vh;
  font-size: 3vw;
  font-weight: 700;
}
.yourNumbers {
  display: flex;
  flex-direction: column;
}

.yourNumbers ul {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vw;
  justify-content: space-around;
}
.randomNumbers {
  display: flex;
  flex-direction: column;
}

.randomNumbers ul {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-around;
}
li {
  list-style-type: none;
  width: 7vw;
  height: 7vw;
  line-height: 7vw;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: lightcoral;
  box-shadow: 0.5vw 0.3vw 0.9vw white inset;
}
button {
  box-sizing: border-box;
  margin: 2% auto;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2vw;
  padding: 7px 7px;
  transition: linear 0.2s;
}

button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0.02vw 0.1vh 2vw 0.3vw white;
}

button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  transition: ease-out 0.2s;
}

button:hover::after {
  width: 100%;
  background-color: #ff6059;
  display: block;
}

.hidden {
  display: none;
}
