* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 153, 102);
}

h1 {
  letter-spacing: 5px;
  font-size: 5vw;
  font-weight: 900;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 2%;
  font-size: 2vw;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 7vw;
  height: 7vw;
  box-sizing: border-box;
  color: black;
  border: 1px solid black;
  border-radius: 90px;
  outline: none;
  font-size: 2vw;
  text-align: center;
  font-weight: 700;
  background-color: lightcoral;
  transition: linear 0.1s;
}
input:hover {
  border: 2px solid black;
}

p {
  display: inline-block;
  margin: 4vh;
  font-size: 2vw;
  font-weight: 700;
}
.yourNumbers {
  display: flex;
  flex-direction: column;
}

.yourNumbers ul {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vw;
  justify-content: space-around;
}
.randomNumbers {
  display: flex;
  flex-direction: column;
}

.randomNumbers ul {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-around;
}
li {
  list-style-type: none;
  width: 7vw;
  height: 7vw;
  padding: 2vw;
  border: 1px solid black;
  border-radius: 90px;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  background-color: lightcoral;
}

button {
  box-sizing: border-box;
  margin: 2% auto;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5vw;
  padding: 7px 7px;
  transition: linear 0.2s;
}

button:hover {
  color: white;
  border: 3px white;
}

button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  transition: ease-out 0.2s;
}

button:hover::after {
  width: 100%;
  background-color: indianred;
  display: block;
}

.hidden {
  display: none;
}
