* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #ffaa80;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 5px;
  font-size: 5vw;
  font-weight: 900;
  font-style: italic;
  color: black;
  text-shadow: 1vw 1vw 2vw white, -1vw -1vw 2vw white;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  min-height: 40vh;
  margin: 0 20%;
}
label {
  font-size: 2.5vw;
}

.inputs {
  position: absolute;
  width: 100%;
  top: 30%;
  display: flex;
  justify-content: space-around;
}

/* remove default arrows from inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 7vw;
  height: 7vw;
  box-sizing: border-box;
  color: black;
  border: 1px solid black;
  border-radius: 90px;
  outline: none;
  font-size: 3vw;
  text-align: center;

  font-weight: 700;
  background-color: lightcoral;
  transition: linear 0.1s;
}

input:focus {
  border: 0px solid black;
  box-shadow: 0.02vw 0.1vh 2vw 0.3vw white;
  color: white;
}
.add-button {
  bottom: -10%;
}
.play-button {
  top: 100%;
}

.box-shadow {
  border: 0px solid black;
  box-shadow: 0.02vw 0.1vh 2vw 0.3vw white;
  color: white;
}
p {
  font-size: 2vw;
  margin-bottom: 3vh;
}

p:nth-child(3) {
  margin: 3vh;
}
.yourNumbers,
.randomNumbers {
  position: absolute;
  width: 100%;
  height: 25vh;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
}

.randomNumbers {
  top: 50%;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0 20%;
}
li {
  list-style-type: none;
  width: 6vw;
  height: 6vw;
  line-height: 6vw;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2.5vw;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: lightcoral;
  box-shadow: 0.5vw 0.3vw 0.9vw white inset;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 2vw;
  font-size: 3vh;
  padding: 1vw;
  transition: linear 0.2s;
}

button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0.02vw 0.1vh 2vw 0.3vw white;
}

button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
  border-radius: 2vw;
  transition: ease-out 0.2s;
}

button:hover::after {
  width: 100%;
  background-color: #ff6059;
}

.hidden {
  display: none;
}

@media (orientation: landscape) and (max-height: 273px) {
  .add-button {
    bottom: -50%;
    font-size: 8vh;
  }
}
@media (orientation: portrait) {
  .wrap {
    height: 100vh;
  }

  h1 {
    top: 10%;
    font-size: 6vh;
  }

  label {
    font-size: 3vh;
  }

  .inputs {
    flex-wrap: wrap;
    height: 25vh;
    width: 100%;
    top: 30%;
  }

  input {
    width: 9vh;
    height: 9vh;
    font-size: 4vh;
    margin: 0 1vw;
  }

  .add-button {
    bottom: -10%;
  }
  .play-button {
    top: 130%;
  }

  p {
    font-size: 2vh;
    margin-bottom: 3vh;
  }

  p:nth-child(3) {
    margin: 3vh;
  }
  .yourNumbers,
  .randomNumbers {
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
  }

  .randomNumbers {
    top: 50%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0 20%;
  }

  li {
    width: 9vh;
    height: 9vh;
    line-height: 9vh;
    font-size: 3vh;
  }

  button {
    font-size: 2.5vh;
    padding: 1vw;
  }
}
@media (orientation: portrait) and (min-width: 375px) {
  h1 {
    top: 10%;
    font-size: 5vh;
  }

  .inputs {
    justify-content: space-between;
  }
  input {
    width: 7vh;
    height: 7vh;
    font-size: 3vh;
    margin: 0 2vw;
  }
  .add-button {
    bottom: -20%;
  }
  .reset-button {
    bottom: -65%;
  }

  li {
    width: 9vh;
    height: 9vh;
    line-height: 9vh;
    font-size: vw;
  }
}
@media (orientation: portrait) and (min-width: 767px) {
  input {
    width: 9vh;
    height: 9vh;
    margin: 2.5vw;
    font-size: 4.5vh;
  }
  li {
    width: 12vw;
    height: 12vw;
    margin: 0 2vh;
    line-height: 12vw;
    font-size: 5vw;
  }
}
@media (orientation: portrait) and (min-width: 1080px) {
  input {
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    margin: 2vw;
  }
}
